<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      Shopify<span class="text-warning">.</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="active" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a></li>
        <li class="nav-item"><a class="nav-link" >Pricing</a></li>
        <li class="nav-item"><a class="nav-link" >Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
